<div class="my-3">
  <% if logged_in? %>
    <% if session[:welcome_message_displayed] %>
      <h2 class="text-center">Welcome to Winnipeg Sports Emporium <span class="fst-italic"><%= "#{current_customer.first_name} #{current_customer.last_name}, You Logged in Successfully!" %></span></h2>
      <% session[:welcome_message_displayed] = false %>
    <% else %>
      <h2 class="text-center">Welcome to Winnipeg Sports Emporium</h2>
    <% end %>
    <% else %>
    <h2 class="text-center">Welcome to Winnipeg Sports Emporium</h2>
  <% end %>

  <p>
    At Winnipeg Sports Emporium, we are dedicated to providing you with top-quality soccer equipment to elevate your game. We offer a wide range of products, from soccer jerseys and football boots to indoor football shoes and accessories. Our commitment to excellence is reflected in our exceptional customer service and loyal customer base. Explore our exciting products today and discover how we can help you take your soccer game to the next level.
  </p>
</div>

<div class="my-5">
  <h2 class="text-center">Benefits of Signing Up as a Verified Consumer</h2>
  <p>
    As a verified consumer on our website, you will gain access to a range of features designed to enhance your shopping experience. By signing up, you can view your order history, and receive notifications about new products and exclusive offers. Plus, as your personal details will be securely stored on our site, you can save time during the checkout process. Don't miss out on the benefits of being a verified consumer at Winnipeg Sports Emporium so sign up now!
  </p>
</div>

<div class="my-5">
  <h2 class="text-center">Customer Satisfaction: Our Top Priority for an Exceptional Shopping Experience</h2>
  <p>
    Our company's core focus is customer satisfaction. We offer a wide range of thoughtfully curated products, ensuring your needs are met. Our user-friendly website and secure payment options guarantee a seamless shopping experience. With exceptional customer support, we value your feedback and continuously improve to exceed expectations. Join us to become a part of our valued customer community and experience the joy of shopping with confidence in our commitment to your satisfaction.
  </p>
</div>