<footer>
    <hr>
    <div class="container ">
        <div class="row d-flex" >
            <div class="col-4">
                <ul class="list-inline ">
                    <li class="list-inline-item "><a href="<%= root_path %>" class="link-primary text-decoration-none">Home</a></li>
                    <li class="list-inline-item"><a href="<%= about_path %>" class="link-primary text-decoration-none">About</a></li>
                    <li class="list-inline-item"><a href="<%= contact_path %>" class="link-primary text-decoration-none">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-4 d-flex justify-content-center ">
                <p>Md Mahamudun Alam Mahin</p>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <p>&copy; 2023 WSE. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>