<!-- app/views/orders/order_cancel.html.erb -->
<h1>Payment Canceled</h1>
<p>Your payment was canceled. Your order was not processed.</p>
<p>Order ID: <%= @order.id %></p>
<!-- Add any other information you want to show to the user after payment cancellation -->
