<div class="container">
    <% if products.present? %>
  <h2>Characters by <%= @category.name %></h2>
  <ul>
    <% products.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="text-center">
        No products found.
    </div>
<% end %>

</div>