<!-- app/views/categories/show.html.erb -->
<h1><%= @category.name %> Products</h1>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<%= paginate @products %>