<!-- app/views/products/index_all.html.erb -->
<h1>All Products</h1>
<ul>
  <% @products.each do |product| %>
    <li><%= product.id%>       <%= link_to product.name, products_show_path %></li>
  <% end %>
</ul>
